<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Word Memoriser</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{http://localhost:8662/mvc/css/main.css}" rel="stylesheet">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<div>
  <div class="wordMem-bar wordMem-padding" style="letter-spacing:4px;">
	<label class="wordMem-bar-item">Word Memoriser - <span th:text="${account.nick}"></span> </label>
    <div class="wordMem-right">
		<button id="btnAddWord" type="button" class="wordMem-bar-item wordMem-button" th:onclick="|window.location.href='/mvc/addWord/${account.id}'|">Add Word</button>
		<button id="btnExam" type="button" class="wordMem-bar-item wordMem-button" th:onclick="|window.location.href='/mvc/exam/${account.id}'|">Exam</button>
		<button id="btnResult" type="button" class="wordMem-bar-item wordMem-button" th:onclick="|window.location.href='/mvc/results/${account.id}'|">Results</button>
		<button id="btnLogOut" type="button" class="wordMem-bar-item wordMem-button" th:onclick="|window.location.href='/mvc'|">Log Out</button>
    </div>
  </div>
</div>

<div  class="wordMem-content" style="max-width:1100px" >
	<div id="addWordHolder" class="wordMem-container" style="margin: 0px 0;"> 
		<h1 style="position:absolute; left:45%;">Add Word</h1><br>
		<form style="margin-top:50px;">
			<p><input id="trWord" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="Tr Word" required name="Name"></p>
			<p><input id="enWord" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="En Word" required name="Name"></p>
			<p><input id="trMeaning" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="Tr Meaning" required name="Name"></p>
			<p><input id="enMeaning" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="En Meaning" required name="Name"></p>
			<p><input id="example" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="Example" required name="Name"></p>
		</form>
	</div>
	<div>
		<table>
			<tr style="text-align:center; height:50px;">
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Noun">Noun</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Verb">Verb</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Adjective">Adjective</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Adverb">Adverb</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Pronoun">Pronoun</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Preposition">Preposition</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Conjunction">Conjunction</button></td>
				<td><button name="btnWordType" style="width:135px;" onclick="wordTypeSelected(this.name, this.id)"  class="wordMem-button" id ="Interjection">Interjection</button></td>
			</tr>
		</table>
		<table border="0" style="table-layout:fixed; position:absolute; left:43%; width:250px;" >
			<tr style="text-align:center; height:75px;">
				<td><button class="wordMem-button  " onclick="saveWord();">Save Word</button></td>
			</tr>
		</table>
	</div>
</div>
</body>

<script th:inline="javascript">
	/*<![CDATA[*/

	var accountId = /*[[${account.id}]]*/ 'default';
	if(accountId != null){
		console.log(accountId);
	}
	/*]]>*/

	var selectedWordType = "";
	var emptyValues = [];
	var wordData = {};

	function saveWord() {
		emptyValues = ["The below places are empty:"];

		console.log(wordData["trWordValue"]);

		wordData["trWordValue"] = document.getElementById("trWord").value;
		if (!wordData["trWordValue"].trim()){
			emptyValues.push("trWordValue");
		}
		wordData["enWordValue"] = document.getElementById("enWord").value;
		if (!wordData["enWordValue"].trim()){
			emptyValues.push("enWordValue");
		}
		wordData["trMeaning"] = document.getElementById("trMeaning").value;
		if (!wordData["trMeaning"].trim()){
			emptyValues.push("trWordValue");
		}
		wordData["enMeaning"] = document.getElementById("enMeaning").value;
		if (!wordData["enMeaning"].trim()){
			emptyValues.push("enMeaning");
		}
		wordData["example"] = document.getElementById("example").value;
		if (!wordData["example"].trim()){
			emptyValues.push("example");
		}
		if (selectedWordType == ""){
			emptyValues.push("selectedWordType");
		}
		else{
			wordData["wordType"] = selectedWordType;
		}

		wordData["forceSave"] = false;

		wordData["remoteId"] = accountId;

		console.log(wordData["remoteId"]);

		if(emptyValues.length > 1){
			window.alert(emptyValues.join('\n'));
			return;
		}
		sendData();
	}

	function sendData(){
		var xhr = new XMLHttpRequest();
		xhr.open('post', 'http://localhost:8662/word', true);
		xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
		xhr.onreadystatechange = function() {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					var data = createResponseText(xhr.responseText);
					alert("The word has been saved to the db: " + data);
				}
				if (xhr.status === 403) {
					var data = createResponseText(xhr.responseText);
					alert("This word is already existed in the db, so it can't be saved: \n\n" + data);
				}
				if (xhr.status === 409) {
					createSameWordAlert(xhr.responseText);
				}
			}
		};
		xhr.send(JSON.stringify(wordData));
	}

	function createResponseText(responseText){
		var jsonTest = JSON.parse(responseText);
		var data = [];
		for (var i = 0; i < jsonTest.length; i++){
			var str = "";
			var obj = jsonTest[i];
			for (var key in obj){
				var attrName = key;
				var attrValue = obj[key];
				str = str + attrName + ": " +attrValue + ", "
			}
			data.push(str);
		}
		return data;
	}

	function createSameWordAlert(responseText) {
		var data = createResponseText(responseText);

		var arrSameWordAlert=["The word you want to save might exist in the db."];
		arrSameWordAlert.push(data.join('\n\n'));
		arrSameWordAlert.push("Do you still want to save?");
		console.log(data.join('\n\n'))
		if (confirm(arrSameWordAlert.join('\n\n\n'))) {
			wordData["forceSave"] = true;
			sendData();
		}
	}

	function wordTypeSelected(name, id){
		var elements = document.getElementsByName(name);
		for (var i = 0; i < elements.length; i++) {
			var $element = $(elements[i]);
			if(id != elements[i].id){
				$element.css('border', '');
				$element.css('border-radius', '');
			}
			else{
				$element.css('border', '2px solid black');
				$element.css('border-radius', '5px');
			}
		}
		selectedWordType = $("#"+id).text()
	}

</script>


</html>