<!DOCTYPE html>
<html>
<title>Word Memoriser</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<head>
</head>

<body>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div  class="wordMem-content" style="max-width:1100px" >
	<div id="addWordHolder" class="wordMem-container" style="margin: 0px 0;"> 
		<h1 style="position:absolute; left:41%;">Word Memoriser</h1><br><br>
		<form style="margin-top:50px;">
			<p><input id="trWord" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="User Name" required name="Name"></p>
			<p><input id="enWord" class="wordMem-input wordMem-padding-16" style="text-align:center;" type="text" placeholder="Password" required name="Name"></p>
		</form>
	</div>
	<div>
		<table border="0" style="table-layout:fixed; position:absolute; left:43%; width:250px;" >
			<tr style="text-align:center; height:75px;"> 
				<td><button class="wordMem-button  " onclick="saveWord();">Login (or Sign Up)</button></td>
			</tr>
		</table>
	</div>
</div>

    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>


</body>
</html>