<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <CustomLevels>
        <CustomLevel name="INTERNAL" intLevel="450"/>
        <CustomLevel name="DEEPER" intLevel="460"/>
    </CustomLevels>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="FileAppender" fileName="D:\logs\WordMemoriser.log"
                     filePattern="logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d %p [%c{1.}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="FileAppender" level="DEEPER"/>
            <AppenderRef ref="ConsoleAppender" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>